@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 1.5;
    background: #fff;
    color: #1f2937;
    min-height: 100vh;
}

img {
    max-width: 100%;
    height: 200px;
    width: 200px;
}

h1, h2 {
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
}

button{
    background: #3882F6;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 30px;
    border-radius: 10px;
    cursor: pointer;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 30px;
}

.navbar {
    background: #1f2937;
    color: #f9faf8;
    height: 80px;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.navbar a:hover{
    color: lightblue;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin-left: 36px;
}

.hero {
    background: #1f2937;
    min-height: 400px;
}

.hero h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.hero p {
    color: #e5e7eb;
}

.hero img {
    max-width: 400px;
    height: auto;
    width: auto;
    margin-left: 100px;
    margin-bottom: 50px;
}

.hero button {
    border: none;
    margin: 10px 0;
}

.hero .container {
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 100%;
}

.flies {
    min-height: 400px;
}

.flies .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    height: 100%;
}

.container .images {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-shrink: 0;
    flex-wrap: wrap;
}

.flies .container h2{
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
    padding: 50px 0;
}

.flies .container h3 {
    text-align: center;
}

.box img {
    border: #3882F6 solid 4px;
    border-radius: 10px;
    margin: 10px 0;
}

.images .box {
    width: 200px;
    display: flex;
    flex-direction: column;
}

.box p {
    text-align: justify;
    text-align-last: center;
    padding: 5px;
}

.guide {
    background: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    min-height: 400px;
}

.guide .container {
    padding: 100px 100px;
    height: 100%;
}

.guide .container p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.guide .container div {
    font-style: normal;
    font-weight: bold;
    text-align: right;
}

.contact {
    min-height: 200px;
    padding: 100px 0;
}

.contact .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #3882F6;
    color: #e5e7eb;
    padding: 25px 50px;
    border-radius: 10px;
    height: 100%;
}

.contact button {
    border: #f9faf8 solid 2px;
}

.container .words {
    line-height: normal;
}

.contact h2 {
    margin-bottom: 0;
}

footer {
    background: #1f2937;
    color: #f9faf8;
    min-height: 100px;
    padding: 50px 0;
}

footer .container ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

footer .container ul li {
    margin-right: 20px;
}

@media (max-width: 768px) {
    .hero .container {
        flex-direction: column;
        text-align: center;
        padding: 20px 10px;
    }

    .hero img {
        margin: auto;
    }

    .flies .container {
        text-align: center;
    }

    .flies .container .images {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .images .box {
        margin-bottom: 20px;
    }

    .contact .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .contact button {
        margin-top: 15px;
    }

    footer .container {
        flex-wrap: wrap;
    }
}
